@{
  Layout = "_Layout";
}

@model DoctorOffice.Models.Doctor;

<h2>Doctor Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

@if(@Model.JoinEntities.Count == 0)
{
  <p>No patients belong to this doctor</p>
}
else
{
  <h4>Patients belonging to this doctor</h4>
  <ul>
  @foreach(var join in Model.JoinEntities)
  {
    <li>@join.Patient.Name</li>
  }
  </ul>
}

<p>@Html.ActionLink("Back to list of doctors", "Index")</p>
<p>@Html.ActionLink("Edit this doctor", "Edit", new { id = Model.DoctorId })</p>
<p>@Html.ActionLink("Delete this doctor", "Delete", new { id = Model.DoctorId })</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>